<div id="background" class="loading-wall">
    <div class="loading-card text-center rounded-3 border border-dark">
        <div class="loading-body">
            <div class="circle-loader"></div>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <h6>Loading</h6>
            <div class="spinner ms-1">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>