<nav class="navbar navbar-expand-sm navbar-light fw-bold sticky-top">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="/img/logo.png" alt="logo" width="30" height="30">
			Admin Planner
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link {{#ifEquals title 'SAC Availability'}} active {{/ifEquals}}"
						href="/availability">SAC Availability</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{#ifEquals title 'Submit Availability'}} active {{/ifEquals}}"
						href="/submitAvailability">Submit Availability</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{#ifEquals title 'SAC Schedule'}} active {{/ifEquals}}"
						href="/schedule">Schedule</a>
				</li>
			</ul>
		</div>
	</div>
</nav>