<div class="container">
    <div class="title text-center">
        <h2>Welcome to</h2>
        <h1 class="fw-bolder">MakerspaceNYP</h1>
        <h1 class="fw-bold">Admin Portal</h1>
    </div>
</div>