<div class="container my-5">
	{{!-- {{#each record}}
	<div>
		<div>hello</div>
		{{log this}}
	</div>
	{{/each}} --}}
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
	<script src="/js/calendar.js"></script>
	<div id='calendar'></div>
</div>