.home {
    /* background-color: blue; */
    height: 100%;
    padding: 0;
}

.home .card {
    width: 80%;
    height: 80vh;
}

.home .card .img-box>img {
    width: 350px;
}



.home .card .title h1 {
    font-size: 4rem;
    /* color: #426696; */
    font-weight: 600;
}

.home .card .title h3 {
    font-size: 2.25rem;
    /* color: #658EC6; */
    font-weight: 500;
}



main,
.home,
.card {
    /* border: 5px solid black; */
}