.home {
    height: 100%;
    padding: 0;
}

.home .card {
    width: 80%;
    height: 80vh;
}

.home .card .img-box>img {
    width: 300px
}

.home .card .title h1 {
    font-size: 4rem;
    font-weight: 600;
    white-space: nowrap;
    /* color: #426696; */
}

.home .card .title h3 {
    font-size: 2.25rem;
    font-weight: 500;
    /* white-space: nowrap; */
    /* color: #658EC6; */
}

@media (max-width: 1024px) {
    .home .card .img-box {
        display: none !important;
    }

    .home .card .title {
        text-align: center;
    }
}