*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BBCCF7;
    height: 100vh;
}

main {
    height: calc(100% - 74px);
    /* Minus height of navbar (74px) */
    background-image: url(/img/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    opacity: 0.85;
    font-weight: 500;
}

.card {
    border-radius: 2rem !important;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05) !important;
    padding: 0;
}

.glass {
    border: 1px solid rgba(229, 233, 229, 0.5) !important;
    background-color: white;
    background: linear-gradient(to right bottom, rgb(229, 233, 229, 0.3), rgba(231, 218, 255, 0.7)) !important;
}

main,
main>.container,
div {
    /* border: 4px solid black !important; */
}

.empty {
    /* border: 4px solid black !important; */
    flex-grow: 1;
}