table.calendar {
    /* border-collapse:separate; */
    border-radius: 2rem;
    overflow: hidden;
}

tr td {
    background-color: white !important;

}

.schedule select,
.availabilities select {
    width: 160px;
}

.schedule .SAC,
.availabilities .SAC {
    font-size: 0.8rem;
}

.submit .checkbox-item {
    cursor: pointer;
    margin: .1rem 0;
}

.submit .checkbox-item input[type="checkbox"] {
    display: none;
}

.submit .checkbox-item input[type="checkbox"]:checked+.checkbox-label {
    background: linear-gradient(-45deg, #614385 0%, #516395 100%);
    border: 1px solid var(--ultramarine);
    color: white;
}

.checkbox-label {
    border: 1px solid #516395;
    border-radius: 10px;
    color: #516395;
    display: block;
    padding: 7px 28px;
}

.schedule h6 {
    border-radius: 30px;
    background: linear-gradient(to right bottom, rgb(229, 233, 229, 0.3), rgba(231, 218, 255, 0.7)) !important;
    padding: 0.1em;
}

.calendar ol {
    padding: 0;
    list-style-position: outside;
    display: inline-block;   
}

.calendar ol li {
    padding: 0 1rem;
}

div.container {
    padding: 0;
}

.calendar .btn-main {
    font-size: 0.8rem;
    padding: 0.3rem 1.5rem;
}