table.calendar {
    width: 100%;
    border-collapse: separate;

    overflow: hidden;
}

thead {
    background-color: #13519455;
}

tbody {
    background-color: #FFFFFFBB;
}


tr td {
    height: 112px;
}

td:first-child,
td:last-child {
    width: calc((100% / 7) / 3);
}

td:not(:first-child):not(:last-child) {
    width: calc(100% / 7);
}

tr th,
tr td {
    border-radius: 8px;
}

.schedule select,
.availabilities select {
    width: 160px;
}

.schedule .SAC,
.availabilities .SAC {
    font-size: 0.8rem;
}

.submit .checkbox-item {
    cursor: pointer;
    margin: .3rem;
}

.submit .checkbox-item input[type="checkbox"] {
    display: none;
}

.submit .checkbox-item input[type="checkbox"]:checked+.checkbox-label {
    background: linear-gradient(-45deg, #614385 0%, #516395 100%);
    outline: 1px solid var(--ultramarine);
    color: white;
}

.checkbox-label {
    border: 1px solid #516395;
    border-radius: 10px;
    color: #516395;
    display: block;
    padding: 7px 28px;
}

.schedule h6 {
    border-radius: 30px;
    background: linear-gradient(to right bottom, rgb(229, 233, 229, 0.3), rgba(231, 218, 255, 0.7)) !important;
    padding: 0.1em;
}

.calendar ol {
    padding: 0;
    list-style-position: outside;
    display: inline-block;
}

.calendar ol li {
    padding: 0 1rem;
}

div.container {
    padding: 0;
}

.calendar .btn-main {
    font-size: 0.8rem;
    padding: 0.3rem 1.5rem;
}

.calendar tbody td {
    position: relative;
}

.calendar .day-of-month {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 32px;
    width: 100%;
    line-height: 16px;
    font-weight: 900;
    padding: 10px;
    /*  border-radius: 50%;
    margin: .5rem auto;
    background-color: rgba(19, 81, 148, 0.2); */
}

.calendar .calendar-content {
    position: relative;
    padding-top: 2rem;
    height: 100%;
    /* outline: 1px solid black; */
}

.calendar td div {
    /* background-color: #000fff55;
    outline: 3px solid red; */
}